In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('2019 NIGERIAN IMPORT DATA.xlsx')
df.shape

(62240, 27)

In [3]:
df.head()

,S/N,SCANNING_COY,PREFIX,BANK_CODE,BNK_NAM,BANK_NUMBERING,MFNUM,APP_YEAR,AUTHORIZED_DEALER_DATE,EXC_RATE,...,APPLICANT_NAME,IMPORTER_ADDRESS,IMPORTER_EMAIL,EXPORTER,EXPORTER_ADDRESS,EXPORTER_EMAIL,ITEM,Bank Code,Bank name,FOB Value Naira
0,9577.0,NCS,BA,214.0,First City Monument Bank PLC,2.019000e+10,MF20190010578,2019.0,2019-01-31,0.534,...,SUNSTEEL INDUSTRIES LIMITED,"BLOCK AR, PLOT 4,OPIC RESIDENTIAL AREA 8, AGBA...",cikemelu@odenl.com,ENSCO SERVICES LIMITED,"ENSCO HOUSE, GATEWAY CRESCENT, GATEWAY BUSINES...",gnash@enscoplc.com,RIG SPARES,214.0,NaN,3.729456e+07
1,6756.0,NCS,BA,44.0,Access Bank PLC,2.019000e+10,MF20190006942,2019.0,2019-01-23,311.738,...,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",info@relchem.net,Solventek Trading DMCC,"Unit No. 3004, Jumeirah Bay tower X2, Jumeirah...",info@solventek.net,100 Metric Tons of Toluene Diisocyanate - TDI ...,44.0,NaN,1.881164e+06
2,17380.0,NCS,BA,23.0,Citibank Nigeria Limited,2.019000e+10,MF20190018966,2019.0,2019-02-27,308.819,...,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",lekan.ajewole@jubailiagrotec.com,JAT OFFSHORE S.A.L,"MAAROUF SAAD BLVD, SAIDA",jat@jat-sal.com,AGRICULTURAL INSECTICIDES,23.0,NaN,1.397662e+06
3,18398.0,NCS,BA,23.0,Citibank Nigeria Limited,2.019000e+10,MF20190020044,2019.0,2019-03-01,308.819,...,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",sylvester.umoru@ng.nestle.com,TEREOS STARCH&SWEETENERS BELGIUM N.V,Burchtstaat 10 B-9300 Aalst Belgie,cscoverseas@tereos.com,MAIZE STARCH,23.0,NaN,1.809648e+08
4,4799.0,NCS,BA,23.0,Citibank Nigeria Limited,2.019000e+10,MF20190036985,2019.0,2019-04-12,308.214,...,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",sylvester.umoru@ng.nestle.com,NESTLE SUISSE S.A.,Case Postale 352 CH-1800 Vevey CHE-116.281.710,stephane.mestres@ch.nestle.com,NAN 3 BL DHA Probio LEB027A-2 12x400g,23.0,NaN,2.037849e+07

In [4]:
# let's check unique values
columns=df.columns
for col in columns:
    print(col,':\n',df[col].unique())
    print(df[col].value_counts())
    print('\n',20*'**','\n')

S/N :
 [ 9577.  6756. 17380. ... 31796. 37455.    nan]
4715.0     2
22415.0    2
22461.0    2
8785.0     2
9302.0     2
          ..
70642.0    1
70729.0    1
71067.0    1
71229.0    1
37455.0    1
Name: S/N, Length: 53892, dtype: int64

 ****************************************

SCANNING_COY :
 ['NCS' nan]
NCS    62238
Name: SCANNING_COY, dtype: int64

 ****************************************

PREFIX :
 ['BA' 'CB' nan]
BA    61596
CB      642
Name: PREFIX, dtype: int64

 ****************************************

BANK_CODE :
 [214.  44.  23.  58. 221.  33.  57.  70.  11.  82.  76. 101.  68.  32.
 215.  63.  50. 501. 232.  35.  30. 301. 561. 560. 100.  nan]
57.0     12882
44.0      7147
221.0     4977
68.0      4909
23.0      4039
11.0      3858
58.0      3580
33.0      3506
32.0      3079
70.0      2948
214.0     2700
50.0      2013
232.0     1499
76.0      1431
35.0       968
63.0       591
82.0       487
101.0      422
501.0      345
301.0      215
215.0      195
100.0      178
30.0       177
561.0       52
560.0       40
Name: BANK_CODE, dtype: int64

 ****************************************

BNK_NAM :
 ['First City Monument Bank PLC' 'Access Bank PLC'
 'Citibank Nigeria Limited' 'Guaranty Trust Bank Plc'
 'Stanbic IBTC Bank PLC' 'UBA Group' 'Zenith Bank PLC' 'Fidelity Bank PLC'
 'First Bank PLC' 'Keystone Bank Plc' 'Polaris Bank Ltd' 'Providus Bank'
 'Standard Chartered Bank Nigeria LTD' 'Union Bank PLC' 'Unity Bank Group'
 'Diamond Bank PLC' 'Ecobank LTD' 'FSDH Merchant Bank Ltd'
 'Sterling Bank Plc' 'Wema Bank PLC' 'Heritage Banking Company Limited'
 'Jaiz Bank Plc' 'Nova Merchant Bank Limited' 'FBNQuest Merchant Bank'
 'Suntrust Bank' nan]
Zenith Bank PLC                        12882
Access Bank PLC                         7147
Stanbic IBTC Bank PLC                   4977
Standard Chartered Bank Nigeria LTD     4909
Citibank Nigeria Limited                4039
First Bank PLC                          3858
Guaranty Trust Bank Plc                 3580
UBA Group                               3506
Union Bank PLC                          3079
Fidelity Bank PLC                       2948
First City Monument Bank PLC            2700
Ecobank LTD                             2013
Sterling Bank Plc                       1499
Polaris Bank Ltd                        1431
Wema Bank PLC                            968
Diamond Bank PLC                         591
Keystone Bank Plc                        487
Providus Bank                            422
FSDH Merchant Bank Ltd                   345
Jaiz Bank Plc                            215
Unity Bank Group                         195
Suntrust Bank                            178
Heritage Banking Company Limited         177
Nova Merchant Bank Limited                52
FBNQuest Merchant Bank                    40
Name: BNK_NAM, dtype: int64

 ****************************************

BANK_NUMBERING :
 [2.01900013e+10 2.01900004e+10 2.01900013e+10 ... 2.01900178e+10
 2.01900097e+10            nan]
2.019000e+10    20
2.019000e+10    19
2.019000e+10    19
2.019000e+10    19
2.019000e+10    18
                ..
2.019001e+10     1
2.019001e+10     1
2.019001e+10     1
2.019001e+10     1
2.019001e+10     1
Name: BANK_NUMBERING, Length: 17035, dtype: int64

 ****************************************

MFNUM :
 ['MF20190010578' 'MF20190006942' 'MF20190018966' ... 'MF20190068367'
 'MF20190074229' nan]
MF20190010578    1
MF20190012958    1
MF20190009343    1
MF20190009320    1
MF20190009109    1
                ..
MF20190043872    1
MF20190038733    1
MF20190043986    1
MF20190044131    1
MF20190074229    1
Name: MFNUM, Length: 62238, dtype: int64

 ****************************************

APP_YEAR :
 [2019.   nan]
2019.0    62238
Name: APP_YEAR, dtype: int64

 ****************************************

AUTHORIZED_DEALER_DATE :
 ['2019-01-31T00:00:00.000000000' '2019-01-23T00:00:00.000000000'
 '2019-02-27T00:00:00.000000000' '2019-03-01T00:00:00.000000000'
 '2019-04-12T00:00:00.000000000' '2019-05-07T00:00:00.000000000'
 '2019-05-17T00:00:00.000000000' '2019-06-20T00:00:00.000000000'
 '2019-07-23T00:00:00.000000000' '2019-09-02T00:00:00.000000000'
 '2019-10-23T00:00:00.000000000' '2019-12-18T00:00:00.000000000'
 '2019-03-19T00:00:00.000000000' '2019-03-13T00:00:00.000000000'
 '2019-04-02T00:00:00.000000000' '2019-04-05T00:00:00.000000000'
 '2019-05-14T00:00:00.000000000' '2019-07-10T00:00:00.000000000'
 '2019-08-31T00:00:00.000000000' '2019-10-16T00:00:00.000000000'
 '2019-10-22T00:00:00.000000000' '2019-11-30T00:00:00.000000000'
 '2019-01-11T00:00:00.000000000' '2019-03-20T00:00:00.000000000'
 '2019-04-08T00:00:00.000000000' '2019-05-09T00:00:00.000000000'
 '2019-02-13T00:00:00.000000000' '2019-05-22T00:00:00.000000000'
 '2019-05-30T00:00:00.000000000' '2019-12-17T00:00:00.000000000'
 '2019-02-07T00:00:00.000000000' '2019-03-06T00:00:00.000000000'
 '2019-04-01T00:00:00.000000000' '2019-05-15T00:00:00.000000000'
 '2019-01-18T00:00:00.000000000' '2019-03-14T00:00:00.000000000'
 '2019-03-18T00:00:00.000000000' '2019-05-03T00:00:00.000000000'
 '2019-07-17T00:00:00.000000000' '2019-12-02T00:00:00.000000000'
 '2019-03-25T00:00:00.000000000' '2019-07-30T00:00:00.000000000'
 '2019-04-17T00:00:00.000000000' '2019-06-26T00:00:00.000000000'
 '2019-04-18T00:00:00.000000000' '2019-01-08T00:00:00.000000000'
 '2019-01-09T00:00:00.000000000' '2019-03-05T00:00:00.000000000'
 '2019-03-07T00:00:00.000000000' '2019-07-15T00:00:00.000000000'
 '2019-01-25T00:00:00.000000000' '2019-03-08T00:00:00.000000000'
 '2019-07-03T00:00:00.000000000' '2019-12-13T00:00:00.000000000'
 '2019-12-24T00:00:00.000000000' '2019-03-04T00:00:00.000000000'
 '2019-03-11T00:00:00.000000000' '2019-04-03T00:00:00.000000000'
 '2019-07-04T00:00:00.000000000' '2019-01-30T00:00:00.000000000'
 '2019-02-08T00:00:00.000000000' '2019-03-26T00:00:00.000000000'
 '2019-04-15T00:00:00.000000000' '2019-05-06T00:00:00.000000000'
 '2019-06-14T00:00:00.000000000' '2019-10-09T00:00:00.000000000'
 '2019-01-10T00:00:00.000000000' '2019-06-06T00:00:00.000000000'
 '2019-01-04T00:00:00.000000000' '2019-01-16T00:00:00.000000000'
 '2019-01-17T00:00:00.000000000' '2019-02-04T00:00:00.000000000'
 '2019-02-05T00:00:00.000000000' '2019-02-14T00:00:00.000000000'
 '2019-02-19T00:00:00.000000000' '2019-02-25T00:00:00.000000000'
 '2019-05-02T00:00:00.000000000' '2019-05-21T00:00:00.000000000'
 '2019-05-24T00:00:00.000000000' '2019-06-21T00:00:00.000000000'
 '2019-06-25T00:00:00.000000000' '2019-06-27T00:00:00.000000000'
 '2019-07-11T00:00:00.000000000' '2019-07-16T00:00:00.000000000'
 '2019-07-18T00:00:00.000000000' '2019-10-03T00:00:00.000000000'
 '2019-10-18T00:00:00.000000000' '2019-12-06T00:00:00.000000000'
 '2019-12-19T00:00:00.000000000' '2019-01-21T00:00:00.000000000'
 '2019-02-20T00:00:00.000000000' '2019-02-21T00:00:00.000000000'
 '2019-03-28T00:00:00.000000000' '2019-04-09T00:00:00.000000000'
 '2019-04-10T00:00:00.000000000' '2019-04-26T00:00:00.000000000'
 '2019-05-28T00:00:00.000000000' '2019-07-02T00:00:00.000000000'
 '2019-07-09T00:00:00.000000000' '2019-07-29T00:00:00.000000000'
 '2019-01-15T00:00:00.000000000' '2019-10-17T00:00:00.000000000'
 '2019-01-24T00:00:00.000000000' '2019-01-29T00:00:00.000000000'
 '2019-02-01T00:00:00.000000000' '2019-04-29T00:00:00.000000000'
 '2019-05-23T00:00:00.000000000' '2019-06-17T00:00:00.000000000'
 '2019-06-18T00:00:00.000000000' '2019-12-05T00:00:00.000000000'
 '2019-01-03T00:00:00.000000000' '2019-02-26T00:00:00.000000000'
 '2019-07-08T00:00:00.000000000' '2019-07-12T00:00:00.000000000'
 '2019-10-04T00:00:00.000000000' '2019-10-28T00:00:00.000000000'
 '2019-01-28T00:00:00.000000000' '2019-05-08T00:00:00.000000000'
 '2019-05-13T00:00:00.000000000' '2019-06-11T00:00:00.000000000'
 '2019-06-13T00:00:00.000000000' '2019-10-21T00:00:00.000000000'
 '2019-12-09T00:00:00.000000000' '2019-02-12T00:00:00.000000000'
 '2019-02-22T00:00:00.000000000' '2019-02-28T00:00:00.000000000'
 '2019-03-12T00:00:00.000000000' '2019-04-23T00:00:00.000000000'
 '2019-04-25T00:00:00.000000000' '2019-06-19T00:00:00.000000000'
 '2019-07-05T00:00:00.000000000' '2019-07-22T00:00:00.000000000'
 '2019-07-26T00:00:00.000000000' '2019-07-31T00:00:00.000000000'
 '2019-10-10T00:00:00.000000000' '2019-10-15T00:00:00.000000000'
 '2019-10-24T00:00:00.000000000' '2019-10-25T00:00:00.000000000'
 '2019-10-29T00:00:00.000000000' '2019-12-10T00:00:00.000000000'
 '2019-01-07T00:00:00.000000000' '2019-01-14T00:00:00.000000000'
 '2019-02-11T00:00:00.000000000' '2019-04-11T00:00:00.000000000'
 '2019-04-24T00:00:00.000000000' '2019-05-10T00:00:00.000000000'
 '2019-05-20T00:00:00.000000000' '2019-06-03T00:00:00.000000000'
 '2019-06-10T00:00:00.000000000' '2019-12-04T00:00:00.000000000'
 '2019-04-16T00:00:00.000000000' '2019-07-19T00:00:00.000000000'
 '2019-12-16T00:00:00.000000000' '2019-03-15T00:00:00.000000000'
 '2019-03-22T00:00:00.000000000' '2019-10-14T00:00:00.000000000'
 '2019-03-27T00:00:00.000000000' '2019-12-11T00:00:00.000000000'
 '2019-01-02T00:00:00.000000000' '2019-01-22T00:00:00.000000000'
 '2019-02-06T00:00:00.000000000' '2019-05-16T00:00:00.000000000'
 '2019-06-24T00:00:00.000000000' '2019-07-01T00:00:00.000000000'
 '2019-07-24T00:00:00.000000000' '2019-07-25T00:00:00.000000000'
 '2019-10-07T00:00:00.000000000' '2019-12-03T00:00:00.000000000'
 '2019-02-15T00:00:00.000000000' '2019-02-18T00:00:00.000000000'
 '2019-03-21T00:00:00.000000000' '2019-04-30T00:00:00.000000000'
 '2019-06-07T00:00:00.000000000' '2019-10-02T00:00:00.000000000'
 '2019-10-11T00:00:00.000000000' '2019-10-30T00:00:00.000000000'
 '2019-12-23T00:00:00.000000000' '2019-12-27T00:00:00.000000000'
 '2019-03-29T00:00:00.000000000' '2019-10-08T00:00:00.000000000'
 '2019-12-12T00:00:00.000000000' '2019-04-04T00:00:00.000000000'
 '2019-05-27T00:00:00.000000000' '2019-12-20T00:00:00.000000000'
 '2019-05-25T00:00:00.000000000' '2019-06-28T00:00:00.000000000'
 '2019-12-15T00:00:00.000000000' '2019-06-08T00:00:00.000000000'
 '2019-04-06T00:00:00.000000000' '2019-04-20T00:00:00.000000000'
 '2019-06-12T00:00:00.000000000' '2019-03-02T00:00:00.000000000'
 '2019-06-22T00:00:00.000000000' '2019-06-04T00:00:00.000000000'
 '2019-04-21T00:00:00.000000000' '2019-06-09T00:00:00.000000000'
 '2019-01-26T00:00:00.000000000' '2019-03-31T00:00:00.000000000'
 '2019-05-18T00:00:00.000000000' '2019-10-19T00:00:00.000000000'
                           'NaT']
2019-08-31    5369
2019-09-02    4958
2019-11-30    4532
2019-04-08     381
2019-06-18     366
              ...
2019-04-06       1
2019-06-09       1
2019-06-04       1
2019-03-02       1
2019-10-19       1
Name: AUTHORIZED_DEALER_DATE, Length: 200, dtype: int64

 ****************************************

EXC_RATE :
 [  0.534   311.738   308.819   308.214   301.079   324.281   306.77
 308.951   310.      311.      307.292   313.3258   44.612    45.748
  45.896    45.719    47.173    47.175    47.17     44.61     45.75
  45.78     45.575    50.       43.       45.       45.2204   45.191
  45.598    45.1469   45.5687   45.436    44.4692   44.4569   44.2486
  44.2881   45.1378   44.2002   44.4548   44.4565   44.162    45.25
  45.895    45.6      45.31     44.29     46.173    47.172    45.87
  44.35     44.6      45.72     47.2      45.6215   43.2918   43.6281
  44.69     43.162    44.748    44.719    45.89     46.       47.68
  45.46     45.8      45.73     45.56     45.58     44.575    47.14
  43.34     47.71     43.173    47.5      44.5      45.1903   45.9
  45.745    44.761    44.4661   44.6093   44.9842   45.0499   45.0081
  45.3081   45.3868   45.5308   45.6055   45.5647   45.5579   45.7377
  45.426    45.4989   45.4213   44.2531   44.1225   44.634    44.5241
  44.7005   44.4666   44.472    44.4665   44.4988   42.7186   42.8023
  43.2447  353.      348.678   351.331   352.      349.1     349.54
 350.12    348.069   352.609   346.4177  382.53    349.47    350.208
 347.69    347.8     347.08    345.4     344.72    345.      344.797
 344.597   344.33    344.87    344.306   344.73    342.37    363.718
 345.989   344.981   346.05    347.      348.7     349.81    350.
 346.      342.      341.73315 340.      363.72    340.2481  340.248
 337.15    336.6935  337.37    336.      340.01    340.3521  340.69
 340.7393  340.3095  340.16    341.94    363.716   337.92    399.0268
 339.88    339.64    338.66    337.98    338.38    340.32    341.98
 342.92    341.79    358.      340.2788  352.61    350.21    344.7
 344.8     344.31    363.728   366.863   400.      347.6334  345.0953
 364.      343.8572  340.9507  336.31    339.1456  340.5224  350.8439
 348.3576  347.9632  346.8584  348.7305  345.0732  345.0987  347.3705
 346.2346  346.23    345.7741  349.19    348.0032  356.      320.
 342.0521  346.0906  370.      380.      358.497   348.67    352.6091
 346.8842  342.2493  343.3904  343.7226  344.3     341.973   346.5149
 343.5384  346.9149  346.5772  342.1321  339.9778  341.058   337.4059
 343.18    342.16    342.68    348.68    351.33    349.9011  348.77
 347.8591  346.9084  346.1981  347.6751  348.6123  350.2079  344.22
 344.219   345.5643  345.1653  347.0684  347.4367  348.6031  348.3622
 348.8891  346.8896  346.2703  344.7969  344.1777  346.8891  341.4569
 341.7025  344.3058  343.8631  343.6865  343.5637  343.1701  342.2856
 343.9375  342.7766  341.8866  343.4771  342.4641  343.784   347.65
 347.6516  347.0021  346.2437  345.77    344.889   344.89    343.54
 349.62    343.1449  339.7997  340.2541  341.1998  340.9235  340.3402
 338.2282  337.7498  337.4851  342.612   340.07    339.83    363.71
 355.      351.      347.133   354.      346.44    341.7     353.609
 344.79    344.7079  363.1718  344.36    342.5     344.      347.3963
 362.718   349.      350.28    348.6482  349.9931  349.6863  347.0732
 345.1091  346.5466  348.3883  347.7744  344.7303  350.5     346.1732
 346.0197  347.3398  345.1     365.      363.8     366.7174  365.7394
 362.2512  360.5234  358.5348  360.1322  359.6758  359.089   361.5666
 358.5022  362.8706  361.3384  360.9146  362.675   351.31    328.
 339.39    342.3413  343.9628  341.2977  338.928   338.081   350.7411
 349.7009  348.57    349.089   347.1325  351.332   348.2408  350.1864
 346.8689  349.7474  349.3234  346.5065  344.6414  344.64    344.8249
 346.716   346.6855  352.7     347.6903  348.3326  345.7773  343.0974
 345.92    345.9989  346.3048  347.4674  347.5942  348.5425  345.7588
 346.0295  344.4385  346.02    343.738   343.0566  343.485   345.1374
 346.239   345.7541  345.8765  342.8527  343.0669  340.3443  341.1343
 340.5891  343.1841  340.58    342.567   342.4446  344.0358  343.6736
 343.5207  343.949   341.8685  341.5374  342.2715  342.6028  342.3581
 341.3484  345.387   345.8718  346.519   345.1068  344.6478  342.4192
 363.7     342.8476  348.3895  341.1703  347.533   347.9613  348.053
 347.1921  345.4176  342.8424  343.2096  343.      344.8314  343.3371
 356.6209  341.0479  340.0996  340.6502  340.197   341.1757  363.17
 341.0228  342.1797  342.5162  342.3327  342.5774  342.0268  343.1229
 338.6925  339.7269  338.8702  363.      340.1858  338.8032  339.2316
 337.1263  335.5966  338.2336  339.813   336.6491  337.4995  335.3951
 338.1419  336.3614  334.458   335.1312  367.718   336.3858  336.141
 337.3711  337.8971  339.9467  341.6597  340.7671  340.247   339.7575
 339.4152  335.      362.73    362.72    362.58    351.52    349.3397
 352.6009  347.51    343.83    350.3     344.6     345.69    347.2784
 344.15    343.306   344.09    342.372   343.32    343.97    343.3236
 342.986   344.761   364.22    348.9453  345.98    342.347   341.7332
 340.14    341.55    339.95    339.9531  340.161   339.0815  335.833
 339.33    337.81    339.8977  337.4123  337.8112  339.      338.
 339.3332  338.3879  342.38    396.76    337.9276  340.1253  340.31546
 337.7307  341.3     340.22    350.2     334.31    363.717   350.89
 356.609   349.226   350.3473  352.8557  352.8577  348.7608  348.8608
 350.331   346.6243  347.4762  348.8464  348.0879  346.7071  345.7282
 346.8294  345.9729  343.9746  346.1518  342.817   343.7384  343.7654
 343.0057  337.824   337.7136  334.5257  335.9574  337.5607  336.92
 339.15    350.7211  348.7702  347.8498  347.4     340.8171  367.
 351.609   352.81    349.92    346.055   363.175   349.02    349.8879
 342.6427  339.85504 338.8176  339.3393  338.4738  337.8599  342.0094
 340.5244  363.617   350.7073  346.2653  344.6435  349.0988  341.7638
 348.      363.714   338.8238  337.4608  335.6498  363.9     339.3946
 340.23    351.1857  347.331   347.6398  347.1605  342.9859  363.712
 335.0724  342.61    338.57    341.57    344.747   344.308   341.331
 343.76    349.2918  349.914   352.6     343.797   371.1836  345.25
 338.4493  359.4802  348.66    340.74    342.52    340.19    338.63
 339.7     338.19    342.3407  354.0092  342.6539  349.5284  349.6205
 342.0651  342.7404  340.53    340.59    348.5952  351.3331  346.65
 352.9168  349.3419  349.34    349.5785  351.4596  348.2534  346.5415
 346.7249  348.08    345.9377  347.2271  345.168   344.97    341.226
 342.7812  342.3834  344.304   342.05    342.664   341.3438  348.4813
 345.7847  346.9     346.91    345.4481  343.3014  344.69    343.45179
 339.5853  340.37    337.7196  337.3465  337.3099  336.0249  336.698
 336.0186  377.5734  337.4017  340.3357  335.72    363.713   341.08
 342.62    407.34    399.649   410.141   385.0701  372.55    382.89
 381.0164  376.97    399.45    395.23    403.70064 415.      392.008
 403.192   408.111   408.11    402.35    393.      402.2447  396.2017
 397.8574  386.3843  388.3706  370.9655  369.2825  393.7577  410.14
 391.385   388.8136  400.7539  411.      403.7576  395.1031  410.
 404.88    395.04    402.5077  390.17    383.31    382.75    382.91
 376.75    373.01    369.28    398.488   401.8778  395.0019  405.
 404.089   401.6773  402.6302  404.2211  401.9616  402.      395.165
 389.1354  388.3446  388.3729  381.9786  380.7537  372.403   372.7086
 370.0771  369.4958  380.9679  381.1208  381.795   412.      374.391
 394.3357  402.21    400.07    399.8368  397.2207  392.5     389.86
 388.873   397.681   403.912   391.635   399.8641  392.      393.9062
 403.0844  403.19    397.7     403.5     399.4536  406.13    402.6877
 390.73    403.81    430.      370.7035  408.1111  400.64    396.6
 404.37    395.8884  399.2228  387.7916  399.483   383.7852  387.
 372.2806  371.1179  391.4908  393.6078    2.792     2.997     2.824
   2.826     2.77      2.756     2.8139    2.7524    2.7406    2.7791
   2.8032    2.8361    2.772     2.702     2.8251    2.7547    2.76
   2.7949    2.8456    2.8148    3.       34.264    34.001    33.143
  32.349    34.193   307.      306.6     306.8     306.95    306.
 306.9     306.75    306.35    309.      306.4     305.75    306.85
 306.7     308.      307.8     307.75    306.76    305.9     315.
 305.95    305.85    306.5     305.      309.5     306.96    326.
 309.65    327.      330.      309.9     309.6     325.      305.7
 307.3     306.65    307.4     306.45    305.8     330.5     304.8
 325.02    306.15    307.95    309.95    305.96    337.      307.6
 305.25    329.      306.29    326.25    319.      307.2     300.
 340.5303  306.59    318.      305.5     306.945   305.65    307.5
 358.51    306.25    312.75    306.8326  326.5     357.      307.85
 303.85    304.      305.3     305.98    308.5     305.86    304.85
 308.8     306.86    305.94    305.6     304.7     308.85    302.
 304.95    358.6     306.1     308.9     308.95    355.5     308.65
 304.65    325.5     331.5     306.92    307.45    306.97    326.2
 332.      306.72    334.      316.      306.9746  324.      310.05
 328.4     326.95    307.7     305.15    306.609   306.18    309.25
  23.1      21.22     22.154    20.6599   21.4482   21.981    21.125
  21.331    21.37     22.       21.1375   20.7573   22.15     23.
  21.51     21.411    21.9911   21.697    21.8701        nan]
326.0000    22532
306.9500     8200
307.0000     6879
306.7500     3988
363.7180     3199
            ...
362.5800        1
351.5200        1
349.3397        1
352.6009        1

INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAGOSLAGOS                                                1059
OLUMEGBON ROAD, OFF ALFRED REWANE ROAD (FORMER KINGSWAY ROAD), IKOYI., LAGOS, ETI OSA, LAGOSLAGOS     802
11A SAPARA WILLIAMS STREET IKEJA INDUSTRIAL ESTATE, IKEJA, LAGOS, IKEJA, LAGOSLAGOS                   607
IDDOHOUSE IDDO, LAGOS, APAPA, LAGOSLAGOS                                                              565
CHIVITA AVENUE, AJAO ESTATE,, LAGOS, OSHODI-ISOLO, LAGOSLAGOS                                         505
                                                                                                     ...
ADERIBEGBE STREET, OFF TARKE STREET, IKOSI KETU, LAGOS, IKORODU, LAGOSLAGOS                             1
102/104,BROAD STREET, LAGOS, LAGOS, LAGOS ISLAND, LAGOSLAGOS                                            1
OBALOLU STREET,, ILUPEJU, MUSHIN, LAGOSLAGOS                                                            1
PCI ENGINEERING CLOSE, VICTORIA ISLAND, LAGOS., IKEJA, LAGOS MAINLAND, LAGOSlaogs                       1
OLD ADIABO ROAD, IKOT EKPO, 8 MILES, CALABAR, CALABAR SOUTH, CROSS RIVERCALABAR                         1
Name: IMPORTER_ADDRESS, Length: 4142, dtype: int64

 ****************************************

IMPORTER_EMAIL :
 ['cikemelu@odenl.com' 'info@relchem.net'
 'lekan.ajewole@jubailiagrotec.com' ... 'kelechi@gochyng.com'
 'akin@megaroller.co.za' 'deobabob01@yahoo.com']
info@bajajnigeria.com              841
logistics@eurochemco.com           523
chi.ops@chilimited.com             506
globaltradeservices@dangote.com    502
nbcimport@cchellenic.com           491
                                  ...
salasarnigeria@gmail.com             1
ezinne@onyemaosueke.com              1
whitexindnigltd@yahoo.com            1
bgtmachine@yahoo.com                 1
deobabob01@yahoo.com                 1
Name: IMPORTER_EMAIL, Length: 5202, dtype: int64

 ****************************************

EXPORTER :
 ['ENSCO SERVICES LIMITED' 'Solventek Trading DMCC' 'JAT OFFSHORE S.A.L'
 ... 'Martin Bulk Handling Solutions (Pty) Ltd'
 'ECO PRESSROOM PRODUCTS (PTY) LTD' nan]
AUTOWORLD INTERNATIONAL FZCO                 828
ZEN GLOBAL DMCC                              588
SNETOR CHIMIE                                512
PZ CUSSONS SINGAPORE PTE LTD                 507
ASSUDAMAL & SONS (HK) LIMITED                441
                                            ...
GODREJ CONSUMER PRODUCTS LIMITED               1
FOURRTS (INDIA) LABORATORIES PVT. LIMITED      1
Manuchar  Nv                                   1
ELECTRO MECHANICAL WAREHOUSE EMW S.A.L         1
ECO PRESSROOM PRODUCTS (PTY) LTD               1
Name: EXPORTER, Length: 12278, dtype: int64

 ****************************************

EXPORTER_ADDRESS :
 ['ENSCO HOUSE, GATEWAY CRESCENT, GATEWAY BUSINESS PARK, ABERDEEN'
 'Unit No. 3004, Jumeirah Bay tower X2, Jumeirah Lakes Towers, Dubai UAE'
 'MAAROUF SAAD BLVD, SAIDA' ...
 '30 INNES ROAD,JET PARK EXT.66 BOKSBURG GAUTENG SOUTH AFRICA 1459'
 '103 NEWTON STREET, MEADOWDALE EXT 2, GERMISTON, GAUTENG 1600, SOUTH AFRICA'
 nan]
LEVEL 34, GOLD TOWER (AU), CLUSTER I, JLT P.O. BOX 113709, DUBAI, UAE                               530
28F, FORTIS TOWER, 77-79, GLOUCESTER ROAD, WAN CHAI, HONG KONG.                                     405
905, JBC-2, JUMEIRAH LAKE TOWER, P.O.BOX - 112338, DUBAI UNITED ARAB EMIRATES                       399
UNIT NO. 1802-B, REEF TOWER, PLOT NO. JLT-PH2-O1A, JUMERIAH LAKES TOWERS, DUBAI                     381
SONDERHOJ 14 8260 VIBY J DENMARK                                                                    342
                                                                                                   ...
ROOM 701 FLOOR 7 CHEUNG'S BUILDING 1 WING LOK STREET CENTRAL, HONGKONG                                1
P.O. BOX 7073, BUSINESS CENTER, AL SHAMOOKH BUILDING, UAQ FREE TRADE ZONE, UMM AL QUWAIN, U.E.A.      1
ROOM 701 FLOOR 7 , CHEUNG'S BUILDING 1 WING LOK STREET ,CENTRAL HONG KONG                             1
ROOM 701 FLOOR 7 CHEUNG'S BUILDING, 1 WING LOK STREET CENTRAL HONG KONG                               1
103 NEWTON STREET, MEADOWDALE EXT 2, GERMISTON, GAUTENG 1600, SOUTH AFRICA                            1
Name: EXPORTER_ADDRESS, Length: 24986, dtype: int64

 ****************************************

EXPORTER_EMAIL :
 ['gnash@enscoplc.com' 'info@solventek.net' 'jat@jat-sal.com' ...
 'ERIEZMAG@ERIEZ.COM' 'REINETTE@ECOPRESS.CO.ZA' nan]
info@zendmcc.com               578
vink@vink-co.de                501
mohamed.shifan@bajajuae.com    465
jat@jat-sal.com                436
info@assudamal.com             435
                              ...
ales@kuayuegroup.com             1
NCI@TUNET.TN                     1
WITEROSE@EIM.AE                  1
INFO@HARSORIA.COM                1
REINETTE@ECOPRESS.CO.ZA          1
Name: EXPORTER_EMAIL, Length: 11907, dtype: int64

 ****************************************

ITEM :
 ['RIG SPARES'
 "100 Metric Tons of Toluene Diisocyanate - TDI 80/20 in 250 Kg Net Drums. Total of 400 drums as per PFI# EPFI120S/19 dated 21 January 2019 and Purchase Order #109R/2019 dated 21 January 2019. 5x20' FCL"
 'AGRICULTURAL INSECTICIDES' ...
 'XHD REPLACEMENT BLADE ORANGE MAXIMIZER 13IN (330MM)' 'Bearing Assembly'
 'CHEMICALS FOR THE PRINTING INDUSTRY']
INDUSTRIAL RAW MATERIAL                                                      785
RAW MATERIAL FOR INDUSTRIAL USE                                              637
PHARMACEUTICAL PRODUCTS                                                      397
BAJAJ RE 4S 198.88CC AUTORICKSHAW IN CKD PACKED CONDITION                    332
SPARE PARTS                                                                  307
                                                                            ...
FER-050 CALMAG 25KG                                                            1
RAW MATERIALS FOR INDUSTRIAL USE:TOLUENE QTY 14.40MT                           1
RAW MATERIALS FOR INDUSTRIAL USE:  ISO PROPYL ALCOHOL ( IPA) QTY 12.80 MT      1
INDUSTRIAL RAW MATERIALS - PRIME ELECTROLYTIC TINPLATE                         1
CHEMICALS FOR THE PRINTING INDUSTRY                                            1
Name: ITEM, Length: 29224, dtype: int64

 ****************************************

Bank Code :
 [214.  44.  23.  nan  58.  57.  70.  11.  82. 101. 221.  68.  33.  32.
 215.  63.  50. 501.  76. 232.  30. 301.  35. 100.]
57.0     5865
44.0     3388
68.0     2632
221.0    2617
23.0     2135
11.0     1950
33.0     1806
58.0     1792
32.0     1633
70.0     1563
214.0    1407
50.0     1035
76.0      775
232.0     719
63.0      591
35.0      424
82.0      274
501.0     194
101.0     182
30.0      111
301.0     107
215.0     103
100.0      93
Name: Bank Code, dtype: int64

 ****************************************

Bank name :
 [nan]
Series([], Name: Bank name, dtype: int64)

 ****************************************

FOB Value Naira :
 [3.72945600e+07 1.88116426e+06 1.39766229e+06 ... 7.56550620e+06
 6.93604104e+12            nan]
5.249904e+07    76
4.941512e+07    70
2.048323e+08    64
7.940708e+07    54
4.943123e+07    52
                ..
6.332899e+07     1
5.084841e+07     1
6.093429e+06     1
2.954267e+06     1
6.936041e+12     1
Name: FOB Value Naira, Length: 47311, dtype: int64

 ****************************************

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62240 entries, 0 to 62239
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S/N                     62238 non-null  float64
 1   SCANNING_COY            62238 non-null  object
 2   PREFIX                  62238 non-null  object
 3   BANK_CODE               62238 non-null  float64
 4   BNK_NAM                 62238 non-null  object
 5   BANK_NUMBERING          62238 non-null  float64
 6   MFNUM                   62238 non-null  object
 7   APP_YEAR                62238 non-null  float64
 8   AUTHORIZED_DEALER_DATE  62238 non-null  datetime64[ns]
 9   EXC_RATE                62238 non-null  float64
 10  CURRENCY                62238 non-null  object
 11  FOB_VAL                 62238 non-null  float64
 12  FREIGHT_VAL             62238 non-null  float64
 13  CFR                     62238 non-null  float64
 14  USD EQUIV               62239 non-null  float64
 15  PAYMENT_MODE            62238 non-null  object
 16  APPLICANT_RCN_CODE      62238 non-null  object
 17  APPLICANT_NAME          62238 non-null  object
 18  IMPORTER_ADDRESS        62238 non-null  object
 19  IMPORTER_EMAIL          62102 non-null  object
 20  EXPORTER                62238 non-null  object
 21  EXPORTER_ADDRESS        62238 non-null  object
 22  EXPORTER_EMAIL          62238 non-null  object
 23  ITEM                    62237 non-null  object
 24  Bank Code               31396 non-null  float64
 25  Bank name               0 non-null      float64
 26  FOB Value Naira         62239 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(14)
memory usage: 12.8+ MB

In [6]:
#Check For Duplicates
duplicates = df.duplicated()
duplicates.sum()

0

In [7]:
df.isna().sum()

S/N                           2
SCANNING_COY                  2
PREFIX                        2
BANK_CODE                     2
BNK_NAM                       2
BANK_NUMBERING                2
MFNUM                         2
APP_YEAR                      2
AUTHORIZED_DEALER_DATE        2
EXC_RATE                      2
CURRENCY                      2
FOB_VAL                       2
FREIGHT_VAL                   2
CFR                           2
USD EQUIV                     1
PAYMENT_MODE                  2
APPLICANT_RCN_CODE            2
APPLICANT_NAME                2
IMPORTER_ADDRESS              2
IMPORTER_EMAIL              138
EXPORTER                      2
EXPORTER_ADDRESS              2
EXPORTER_EMAIL                2
ITEM                          3
Bank Code                 30844
Bank name                 62240
FOB Value Naira               1
dtype: int64

In [8]:
df = df.fillna(df.mode().iloc[0])

In [9]:
df.isna().sum()

S/N                           0
SCANNING_COY                  0
PREFIX                        0
BANK_CODE                     0
BNK_NAM                       0
BANK_NUMBERING                0
MFNUM                         0
APP_YEAR                      0
AUTHORIZED_DEALER_DATE        0
EXC_RATE                      0
CURRENCY                      0
FOB_VAL                       0
FREIGHT_VAL                   0
CFR                           0
USD EQUIV                     0
PAYMENT_MODE                  0
APPLICANT_RCN_CODE            0
APPLICANT_NAME                0
IMPORTER_ADDRESS              0
IMPORTER_EMAIL                0
EXPORTER                      0
EXPORTER_ADDRESS              0
EXPORTER_EMAIL                0
ITEM                          0
Bank Code                     0
Bank name                 62240
FOB Value Naira               0
dtype: int64

In [10]:
df.columns

Index(['S/N', 'SCANNING_COY', 'PREFIX', 'BANK_CODE', 'BNK_NAM',
       'BANK_NUMBERING', 'MFNUM', 'APP_YEAR', 'AUTHORIZED_DEALER_DATE',
       'EXC_RATE', 'CURRENCY', 'FOB_VAL', 'FREIGHT_VAL', 'CFR', 'USD EQUIV',
       'PAYMENT_MODE', 'APPLICANT_RCN_CODE', 'APPLICANT_NAME',
       'IMPORTER_ADDRESS', 'IMPORTER_EMAIL', 'EXPORTER', 'EXPORTER_ADDRESS',
       'EXPORTER_EMAIL', 'ITEM', 'Bank Code', 'Bank name', 'FOB Value Naira'],
      dtype='object')

In [11]:
df.drop([ 'S/N', 'SCANNING_COY', 'BANK_CODE', 'BANK_NUMBERING', 'MFNUM','FOB_VAL', 'FREIGHT_VAL','USD EQUIV', 'Bank Code', 'Bank name', 'FOB Value Naira', 'CFR'],axis = 1,inplace = True)

In [12]:
df.head()

,PREFIX,BNK_NAM,APP_YEAR,AUTHORIZED_DEALER_DATE,EXC_RATE,CURRENCY,PAYMENT_MODE,APPLICANT_RCN_CODE,APPLICANT_NAME,IMPORTER_ADDRESS,IMPORTER_EMAIL,EXPORTER,EXPORTER_ADDRESS,EXPORTER_EMAIL,ITEM
0,BA,First City Monument Bank PLC,2019.0,2019-01-31,0.534,CFA,Bills for Collection,16298228-0001,SUNSTEEL INDUSTRIES LIMITED,"BLOCK AR, PLOT 4,OPIC RESIDENTIAL AREA 8, AGBA...",cikemelu@odenl.com,ENSCO SERVICES LIMITED,"ENSCO HOUSE, GATEWAY CRESCENT, GATEWAY BUSINES...",gnash@enscoplc.com,RIG SPARES
1,BA,Access Bank PLC,2019.0,2019-01-23,311.738,CHF,Bills for Collection,00389604-0001,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",info@relchem.net,Solventek Trading DMCC,"Unit No. 3004, Jumeirah Bay tower X2, Jumeirah...",info@solventek.net,100 Metric Tons of Toluene Diisocyanate - TDI ...
2,BA,Citibank Nigeria Limited,2019.0,2019-02-27,308.819,CHF,Bills for Collection,00389604-0001,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",lekan.ajewole@jubailiagrotec.com,JAT OFFSHORE S.A.L,"MAAROUF SAAD BLVD, SAIDA",jat@jat-sal.com,AGRICULTURAL INSECTICIDES
3,BA,Citibank Nigeria Limited,2019.0,2019-03-01,308.819,CHF,Bills for Collection,00389604-0001,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",sylvester.umoru@ng.nestle.com,TEREOS STARCH&SWEETENERS BELGIUM N.V,Burchtstaat 10 B-9300 Aalst Belgie,cscoverseas@tereos.com,MAIZE STARCH
4,BA,Citibank Nigeria Limited,2019.0,2019-04-12,308.214,CHF,Bills for Collection,00389604-0001,NESTLE NIG. PLC,"INDUSTRIAL AVENUE, ILUPEJU, LAGOS, MUSHIN, LAG...",sylvester.umoru@ng.nestle.com,NESTLE SUISSE S.A.,Case Postale 352 CH-1800 Vevey CHE-116.281.710,stephane.mestres@ch.nestle.com,NAN 3 BL DHA Probio LEB027A-2 12x400g

#### Export the Clean Data

In [13]:
# Export current clean dataframe
df.to_csv("Clean Nigerian Export df.csv" , index=False)

#### import the Clean Data

In [14]:
df = pd.read_csv("Clean Nigerian Export df.csv")

Tableau dashboard : https://public.tableau.com/app/profile/olawuwo.abideen/viz/NigerianExport/NigeriaExport?publish=yes